body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.quiz__container {
  display: grid;
  grid-template-columns: repeat(1fr);
  grid-gap: 0;
}

.quiz__container--single {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
}

.question {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

.answers {
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

p {
  margin: 5px 0;
  font-size: 16px;
}
.wrong__answer {
  color: red;
}
.correct__answer {
  color: blue;
}

/* media query */
@media (min-width: 768px) {
  .quiz__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media (min-width: 1280px) {
  .quiz__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}
